@{
    ViewBag.Title = "About";
}

<div>
    <h2>This dashboard is your solution to manage Library system.</h2>
    <p class="lead">MOTIVE: Our motive is to help the library management systems easier.</p>
</div>


